/* CSS code for the page and dark mode */

/* set the font to a modern, techy font */
body {
    background: linear-gradient(to bottom, rgb(0, 24, 43), rgb(54, 0, 47));
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  h1, h2, h3 {
    font-family: "Courier New", Courier, monospace;
  }
  
  /* add a padding around the page content */
  body > *:not(#navigation) {
    padding: 20px;
  }

  /* code block style */
  pre {
    background: linear-gradient(to bottom right, rgb(0, 34, 48), rgb(54, 0, 47));;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 10px;
    display: inline-block;
    width: auto;
    font-family: "Courier New", Courier, monospace; /* set the font family to a monospace font */
    font-size: 1.2em; /* increase the font size slightly */
  }
  
  code {
    color: rgb(235, 193, 255);
  }
  
  
  /* set the width of the navigation pane and make it scrollable */
  #navigation {
    position: fixed;
    width: 300px;
    max-height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
  }
  
  /* style the navigation list */
  #navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(0, 24, 43), rgb(54, 0, 47));;
  }
  
  /* style the navigation links */
  #navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ccc;
    font-family: "Courier New", Courier, monospace;
  }
  
  /* style the navigation links when they are hovered over */
  #navigation a:hover {
      background-color: rgba(255, 255, 255, 0.1);
  }
  
#content {
    margin-left: 300px; /* set the margin to the width of the navigation pane */
}

/* fix the position of the dark mode button on the top right side of the page */
#dark-mode-button {
    position: fixed;
    top: 5;
    right: 0;
}